* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: #ff7d1a;
    --pale-orange: #ffede0;
    --very-dark-blue: #1d2025;
    --dark-grayish-blue: #68707d;
    --grayish-blue: #b6bcc8;
    --light-grayish-blue: #f7f8fd;
    --white: #ffffff;
    font-size: 62.5%;

}

body {
    background-color: var(--white);
    @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
    font-family: 'Kumbh Sans', sans-serif;


}

.container {
    max-width: 1110px;
    margin: auto;
}

.topbar {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid var(--grayish-blue);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 3.7em;


}

.hamburger {
    display: none;
    margin-left: 3em;
    margin-right: 5em;
}

.closemenu {
    display: none;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 4.8rem;

}

.nav ul li {

    list-style: none;
    height: 100px;
    min-width: 76px;
}

.nav ul li a {
    display: block;
    text-decoration: none;
    border: 4px transparent solid;
    height: 60%;
    font-size: 1.8em;
    text-align: center;
    color: var(--dark-grayish-blue);
}

.nav ul li a:hover {
    border-bottom-color: var(--orange);

}

.basket {
    margin-left: auto;
    margin-right:20px;
      align-self: top;
    padding: 0 1em;
    position:relative;

}

.avatar{
    margin-right:25px;
}
.avatar>img {
    width: 50px;
}


.basket>img {
    width: 50px;
}

.basket:hover{
    filter:brightness(.5);

}


.basketdisplay{
    position:absolute;
    top:0px;
    left:50px;
    width:20px;
    height:20px;
    border-radius: 50%;
    font-size:14px;
    background-color: var(--orange);
    color:white;
    display:flex;
    display:none;
    align-items: center;
    justify-content: center;
}



.mybasket{
    position:absolute;
    top:100px;
    right:200px;
    width:400px;
    z-index: 2957;;
     background-color: white;
    box-shadow: 0px 5px 3px 3px rgba(0,0,0,.1),
    0px 5px 4px 3px rgba(0,0,0,.1);
    display:flex;
    will-change: transform;
    transform:scale(0);
    transition:all .2s ease;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    transform-origin: top center;
}

.mybasket-show{
    transform:scale(1);
}

.mybasket-title{
    font-size: 2em;
    padding:2em  6em 2em 1em;
    width:100%;
    border-bottom:1px solid var(--grayish-blue);
}

.mybasket-empty{
    text-align: center;
    width:100%;
    padding:30px 0;
    font-size:1.5em;
    color:var(--dark-grayish-blue);
    font-weight: 700;

}
.mybasket-full{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    width:100%;
}
.mybasket-full>.icon{
    width:60px;
    margin-left:20px;
}
.mybasket-full>.icon>img{
    width:100%;
}
.mybasket-full > .details {
    padding:0 1em;
}
.mybasket-full > .details span{
    font-weight: 700;
    color:black;
}


.trashcan > img {
    height:30px;
    align-content:center;
}
.trashcan:hover{
    filter:brightness(.4)
}

.checkout{
    margin:20px auto;
  
    padding:15px 90px;
       border-radius: 15px;
    background-color: var(--orange);
    color:white;
    font-size:2em;
    border:2px solid var(--orange);
    
    }
    
    .checkout:hover{
        background-color: var(--pale-orange);
        color:var(--orange);
    }
    


.main img {
    width: 100%;
    border-radius: 15px;
    ;
}



.main {
    display: grid;
    width: 92%;
    margin: auto;
       column-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr 5fr;
    grid-template-rows: auto 15em;
    grid-template-areas:
        "big big big big writing"
        "small1 small2 small3 small4 orderform";
}

.bigpic {
    grid-area: big;
    padding: 5em;
    border-radius: 16px;
    position:relative;

}

.imgbigpic{
    width:100%;
}

.prevnext{
    display:none;
}






.thumb {

    width: 100%;
    margin-top: 4em;
    position:relative;
    background-size: cover;
    background-repeat:no-repeat;
    border-radius: 12px;
   
}
.thumb:hover{
    border:5px var(--orange) solid;
}

.thumb.selected{
    border:5px var(--orange) solid;
    background-image: none;
   
}
.thumb.selected::before{
content:'';
filter:saturate(.1) brightness(2);
background-size: cover;
position:absolute;
top:0;
left:0;
width:95%;
height:95%;

z-index: -99;;

}




.thumb1 {
    grid-area: small1;
    background-image: url("./images/image-product-1-thumbnail.jpg");
}

.thumb2 {
    grid-area: small2;
    background-image: url("./images/image-product-2-thumbnail.jpg");

}

.thumb3 {
    grid-area: small3;
    background-image: url("./images/image-product-3-thumbnail.jpg");

}

.thumb4 {
    grid-area: small4;
    background-image: url("./images/image-product-4-thumbnail.jpg");
}
.thumb1.selected::before{
    background-image: url("./images/image-product-1-thumbnail.jpg");
}
.thumb2.selected::before{
    background-image: url("./images/image-product-2-thumbnail.jpg");
}
.thumb3.selected::before{
    background-image: url("./images/image-product-3-thumbnail.jpg");
}
.thumb4.selected::before{
    background-image: url("./images/image-product-4-thumbnail.jpg");
}
.writing {
    grid-area: writing;
}
.orderingform {
    grid-area: orderform;
}
.writing {
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.orange_title {
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: .2em;
}

.big_title {
    font-weight: 700;
    font-size: 5em;
}

p {
    font-size: 1.8em;
    color: var(--dark-grayish-blue);
    line-height: 2em;
}

.pricing {
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "now discount " "orig .";
}

.pricing>div:nth-child(1) {
    grid-area: now;
    font-weight: 700;
    font-size: 3.5em;
    color: black;
}

.pricing>div:nth-child(2) {
    grid-area: discount;
    text-align: center;
    margin-left: 2em;
    padding: .5em 0;
    font-size: 1.5em;
    color: var(--orange);
    background: var(--pale-orange);


}

.pricing>div:nth-child(3) {
    grid-area: orig;
    font-weight: 500;
    font-size: 2.5em;
    text-decoration: line-through;
    color: var(--grayish-blue);
}

.oacta{
    display: flex;
    flex-direction:row;
    justify-content: space-apart;
    width:100%;
    align-items:center;
 
}

.orderingform {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--light-grayish-blue);

flex-basis:50%;
}

.orderingform>* {
    font-size: 2em;
    background-color: var(--light-grayish-blue);
    color: orange;
    align-self: center;
    user-select: none;
    padding: .5em 3em;
}

.orderingform>div:nth-child(2) {
    color: black;
}
.orderingform div:hover img{
    filter:brightness(.2);
}

.cta {
    margin-left: 1.5em;
    font-size: 1.5em;
    text-align: center;
    color: white;
    background-color:var(--orange);
    border-radius: 20px;
    flex-basis: 50%;
    align-items: flex-start;
    padding:10px 0;
    border:2px solid var(--orange);
    user-select: none;
}

.cta>img {
    width: 1.3em;
    margin-right: .5em;
    display: inline-block;
    filter: brightness(500)
}

.cta-disabled{
    background-color: var(--grayish-blue);
    border-color:var(--grayish-blue);
}
.cta:hover{
    background-color: var(--pale-orange);
    color:var(--orange);
}
.cta-disabled:hover{
    background-color: var(--grayish-blue);
    color:white;
}
@media (max-width:960px) {





.big_title {
    font-size: 4em;
}

p {
    line-height: 1.5em;
}

.orderingform>* {
    padding-left: .6em;
    padding-right: .6em;

}

}

@media (max-width:800px) {

    .hamburger,
    .closemenu {
        display: block;
    }


    .nav {
        position: absolute;
               transform: translateX(-100%);
        transition:transform 600ms ease;
        z-index: 29;

    }

.nav.showmenu{
    transform: translateX(0);
}

    .nav ul {
        flex-direction: column;
        background: white;
        margin-left: 0;
        padding-top: 4em;
        align-items: flex-start;
        min-height: 100vh;
    }

    .nav ul li {
        height: 40px;
        text-align: left;
        padding: 0 5em 0 2em;
    }

    .nav ul li a {
        text-align: left;
    }

    .main {

        width: 92%;
        margin: auto;

        column-gap: 0;
        grid-template-columns: 100%;
        grid-template-rows: auto 50em 15em;
        grid-template-areas:
            "big"
            "writing"
            "oacta";
    }

    .bigpic {
        padding: 0;
    }

.prevnext{
    display:block;
    position:absolute;
    top:50%;
    background-color: white;
    height:40px;
    width:40px;
    background-image: url("./images/icon-previous.svg");
    background-repeat: no-repeat;
    background-position: center;
    left:5%;
    border-radius:50%;
    z-index: 4;
}
.next{
    background-image: url("./images/icon-next.svg");
   left:85%;
  
}
    .writing {

        margin-top: 2em;
        padding: 3em;
        justify-content: space-apart;
    }

    .orange_title {
        padding-top: 1em;
    }

    .big_title {
        font-size: 2.5em;


    }

    .oacta{
        grid-area: oacta;
        flex-direction: column;
    }
    .pricing {
        grid-template-areas: "now discount orig ";
        grid-template-columns: 25% 25% 50%;
        width: 100%;
        align-items: center;
    }

    .pricing>div:nth-child(1) {
        font-size: 2.5em;
    }

    .pricing>div:nth-child(2) {
        font-size: 1.5em;
    }

    .pricing>div:nth-child(3) {
        font-size: 1.5em;
        margin-left: auto;
    }
.orderingform{
    flex-direction: row;
    width:80%;
  
}
.cta{
    width:100%;
    margin:30px 0;
}

.mybasket{
    left:50px;
    right:50px;
    width:auto;
    transform-origin: top right;
}

}